body{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader{
    width: 120px;
    height: 120px;
    position: relative;
}

.loader::before,
.loader::after{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50px;
    mix-blend-mode: multiply;
    animation: rotate 1.1s infinite cubic-bezier(0.77,0,0.1,1);
}

.loader::before{
    background-color: #fc3f9e;
}

.loader::after{
    background-color: #50e8f3;
    animation-delay: 0.5s;
}

@keyframes rotate{
    0%, 100%{
        left:95px
    }
    25%{
        transform: scale(0.3);
    }
    50%{
        left:0
    }

    75%{
        transform: scale(1);
    }
}


@media only screen and (max-width: 934px){
    .heading{
        font-size: 20px;
    }
    .loader{
        width: 70px;
        height: 70px;
    }   
}